
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #3f3f3f;
    background-color:white;
}



p {
    padding: 10px;
    line-height: 1.8em;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    }

a.activo {
    color:crimson;
}

img { max-width: 100%;} 


@keyframes intermitente {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
}

header {   
    position:absolute; 
    top:0;
    display:flex;
    justify-content: space-between;  
    align-items: center;
    width:100%;
    padding:20px;
}

header .burger {
display:none;
color: #444499;
font-size: 25px;
}

header nav ul {
    list-style: none;
    display:flex;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color:#444499;
    text-shadow: 1px 1px 1px #3f3f3f;
}

.normal nav ul li a:hover {
    color: #dc143c;
}

.normal nav ul li a.activo {
    color:#3f3f3f;
}

.burdeos .burger {
    color: crimson;
}

.burdeos {
    box-shadow: 0 4px 8px grey;
    position:initial;
}

.boton {
    margin: 40px;
    color:white;
    background-color: #065506;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    height: 100vh; 
    background-image: url('../CSS/img/floor-2615218_1920.jpg');   
    background-position: center ;
    background-size: cover ;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
}

.hero a {
    color:white;
    font-size:35px;
    margin-bottom: 40px;
    animation-name: intermitente;
    animation-duration: 1500ms; 
    animation-iteration-count: infinite;  
}

.hero h1 {
    color:white;
    font-size: 60px;
    text-shadow: 3px 3px 3px rgb(70, 61, 61);
}

.hero h2 {
    color: rgba(255, 255, 255, 0.815);
    margin-bottom: 80px;
    text-shadow:2px 2px 2px rgb(70, 61, 61);
}

.fila {
    display: flex;
    padding-top: 30px;
    color:#3f3f3f;
    align-items: center;
    flex-wrap: wrap; 
}

.ultima {
    margin-bottom: 2px;
}

/* .col1 {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 20px;
} */


.col2 {
    flex-basis: 300px; 
    flex-grow: 2; 
    padding: 5px;
    border: 2px solid #444499;
}

.col3 {
    flex-basis: 300px; 
    flex-grow: 3; 
    padding:40px;
}

.col100 {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3f3f3f;
    
}
.centrado {
    justify-content: center;
    align-items: center;
  
}

.piederecho {
    display: flex;
    align-items: flex-end;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondo {
    padding: 60px 40px;
    background-image: url('../CSS/img/bed-2448895_1920.jpg');
    background-position: center;
    background-size: cover;
}

.slogan {
    font-size: 18px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.479);
 
}

.input_newsletter {
    color: #065506;
    font-size: 20px;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
    margin:15px 20px;
}

.boton_newsletter {
    margin: 10px;
    color:white;
    background-color: #444499;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin:15px 20px;
}

.boton_newsletter:hover {
    background-color:#444499;
    cursor: pointer;
}

.boton:hover {
    background-color: #444499;
}

.boton_newsletter:focus, .input_newsletter:focus {
    outline: none;
}

.newsletter {
   
 font-size: 25px;
 color: #444499;
 text-align: center;
}

/* Footer */

footer {
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    color: #444499;
    display: flex;
    flex-wrap: wrap;
    font-size:18px;
    position: relative;
    }

footer a {
    color: #444499;
}

footer a:hover {
    color:#444499; 
}
    
.top { 
    font-size: 30px;
    top:-40px;
    right: 50%;
    transform: translateX(50%);   
    height: 50px;
    width: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: intermitente; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
}
        
.col1 {
    flex-basis: 300px; 
    flex-grow: 1;
    padding: 20px;
    color: #444499;
}

.izquierda {
    border: 1px solid white;
}
.centro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.derecha {
    display: flex;
    justify-content:space-between;    
    align-items: center;
    flex-direction: column;
}


.derecha a {
    font-size: 30px;
    color: #444499;
    margin: 10px;
}

.legales a {
    font-size:14px;
}

.minifooter p {
    font-size: 14px;
    padding: 5px;
    color: #444499;
}

.top {
    font-size: 50px;
    position: absolute;
    top:-25px;
    right: 50%;
}

/*Estilos de CONTACTO*/

h1 {
    margin-bottom: 120px;
    font-size: 34px;
    padding: 10px;
}

h2 {
    font-size: 24px;
    padding: 10px
}

.direccion {
    line-height: 1.9em;
}

ul {
    padding-left: 60px;
}

li {
    padding: 10px;
    line-height: 1.4em;
}

/*MEDIA QUERIE*/

@media (min-width:1440px) {
    .hero {
        background-attachment: fixed;   
    }
}


@media (max-width:920px)
{
    .izquierda, .centro, .derecha {
        flex-basis: 200px;
    }
}

@media (max-width: 800px)  
{ nav {
    display:none;
    }

    header .burger {
        display:initial;
    }

    .hero h1 {
        font-size: 40px;
        text-align: center;
    }
    .hero h2 {
        font-size: 28px;
        text-align: center;
    }

    .newsletter {
        font-size: 35px;
    }
    .boton_newsletter {
        font-size: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .input_newsletter {
        font-size: 18px;
        padding: 12px;
        border-radius: 10px;
    
    }
}

@media (max-width: 640px) {
    p {
        font-size: 18px;
    }
    .newsletter {
        font-size: 35px;
    }
    .boton_newsletter {
        font-size: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .input_newsletter {
        font-size: 18px;
        padding: 12px;
        border-radius: 10px;
    
    }
    .fila {
        flex-direction: column;
        align-items: center;
    }

    .col100 {
        flex-direction: column;
        align-items: center;
    }

    .separador {
        display: initial;

    }
    .slogan {
        font-size:16px;
    } 
    }

@media (max-width: 40px){
    body{
        font-size: 18px;
    }
    .slogan {
        font-size:16px;
    } 
    
    .col100 {
        font-size: 16px;
    }
    .fila {
        padding: 20px, 10px;
    }
    .col3 {padding: 10px;}
}


